<%= content_for :title, "Edit profile | " %>

<h2 class="form_title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.collection_select :role, User::ROLES, :to_s, -> (role) { role.to_s.humanize }%>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password (leave blank if you don't want to change it)" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password" %>
  </div>

  <div class="field">
    <em>we need your current password to confirm your changes</em>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password (we need your current password to confirm your changes)" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn_cta btn_cta_new" %>
  </div>
<% end %>

<div class="form_links">
  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn_interact" %></div>

  <%= link_to "Back", :back %>
</div>