<div class='post_comment_card'>
    <div class='post_comment_author'>
        <p><%= comment.author.name %></p>
    </div>
    <div class='post_comment_text'>
        <p><%= comment.text %></p>
    </div>
</div>

<%= javascript_tag do %>
    function replaceWithDefaultImage(image, default_image_path) {
      image.onerror = "";
      image.src = default_image_path;
      return true;
    }
  <% end %>
  
  <%# add comment_card_current_user class if the comment is from the current user %>
  <div class="comment_card <%= 'comment_card_current_user' if comment.author == current_user %>">
    <div class="comment_photo">
      <%= link_to comment.author do %>
        <%= image_tag(comment.author.photo, alt: comment.author.name, onerror: 'replaceWithDefaultImage(this, "/assets/default_user.png")', class: 'comment_photo_image') %>
      <% end %>
    </div>
  
    <div class='comment_text'>
      <%# if the comment is from the current user, the link name will be 'You' %>
      <p><%= link_to (comment.author == current_user ? 'You' : comment.author.name), user_path(comment.author), class: 'comment_author' %></p>
      <p><%= comment.text %></p>
    </div>
  </div>