<%= javascript_tag do %>

    function replaceWithDefaultImage(image, default_image_path) {
  
      image.onerror = "";
  
      image.src = default_image_path;
  
      return true;
  
    }
  
  <% end %>
  
  
  
  
  <nav class="nav">
  
    <%= link_to "Heavens App", root_path, class: "nav_logo" %>
  
  
  
  
    <ul class="nav_links">
  
      <% if user_signed_in? %>
  
        <li class="nav_item">
  
          <%= link_to "Users#{'(' + User.count.to_s + ')' if User.count > 0}", users_path, class: "nav_link" %>
  
        </li>
  
  
  
  
        <li class="nav_item">
  
          <%= link_to "My Posts", user_posts_path(current_user), class: "nav_link" %>
  
        </li>
  
  
  
  
        <li class="nav_item">
  
          <%= link_to "New Post", new_user_post_path(current_user), class: "nav_link" %>
  
        </li>
  
  
  
  
        <li class="nav_split"></li>
  
  
  
  
        <li class="nav_item">
  
          <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete, confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: "nav_link" %>
  
        </li>
  
  
  
  
        <li class="nav_item"> 
  
          <%= link_to "Reset Password", edit_user_registration_path, class: "nav_link" %>
  
        </li>
  
  
  
  
        <li class="nav_item">
  
          <%= link_to current_user, class: "nav_profile", title: current_user.name do %>
  
            <%= image_tag(current_user.photo, alt: current_user.name, onerror: "replaceWithDefaultImage(this, \"/assets/default_user.jpg\")", class: "nav_photo") %>
  
          <% end %>
  
        </li>
  
      <% else %>
  
        <li class="nav_item">
  
          <%= link_to "Sign In", new_user_session_path, class: "nav_link" %>
  
        </li>
  
  
  
  
        <li class="nav_split"></li>
  
  
  
  
        <li class="nav_item">
  
          <%= link_to "Sign Up", new_user_registration_path, class: "nav_link" %>
  
        </li>
  
      <% end %>
  
    </ul>
  
  </nav>