<div class='<%= post_card_class %>'>
    <h3><%= link_to post.title.capitalize, user_post_path(@users, post), class: 'post_card_title' %></h3>
    
    <div>
        <p class='post_card_text'>
            <% if post.text.length > 100 %>
                <%= truncate(post.text, length: 100) %>
            <% else %>
                <%= post.text %>
            <% end %>
        </p>

        <div class='post_card_grid'>
            <div class='post_card_actions'>
                <%= render 'shared/button', btnName: 'Add comment', btnPath: new_user_post_comment_path(@users, post), btnClass: 'btn btn_interact' %>
                <%= render 'shared/form', model: @like, url: user_post_likes_path(@users, post), fields: [] %>
            </div>

            <p class='post_card_counters'>Comments: <%= post.comments_counter %> | Likes: <%= post.likes_counter %></p>
        </div>
    </div>  
</div>
