<%= javascript_tag do %>
  function replaceWithDefaultImage(image, default_image_path) {
    image.onerror = "";
    image.src = default_image_path;
    return true;
  }
<% end %>

<%= link_to user, class: user_card_class do %>
    <div class='user_card_photo'>
    <%= image_tag(user.photo, alt: user.name, onerror: "replaceWithDefaultImage(this,'/assets/default_user.png')") %>
    </div>
  
    <div class=user_card_text>
      <h2><%= user.name%></h2>
      <p>Posts: <%= user.postsCounter%></p>
    </div>
<% end %>