<%= content_for :title, "Posts | " %>

<%= render 'shared/user_card', user: @users, user_card_class: 'user_card no_hover' %>

<div class='post_actions'>
  <%= render 'shared/button', btnName: 'New post +', btnClass: 'btn btn_cta btn_cta_new', btnPath: new_user_post_path(@users) %>
</div>

<ul class='post_list'>
  <% if @posts.empty? %>
    <p class='user_empty-message'>No posts yet!</p>
  <% else %>
    <% @posts.order(created_at: :desc).each do |post| %>
      <li class='post_list_item'>
        <%= render 'shared/post_card', post: post, post_card_class:'post_card post_card_full' %>
        <ul class='comment_list'>
          <% if post.most_recent_five_comments.empty? %>
            <p class='comment_empty-message'>No comments yet!</p>
          <% else %>
            <% post.comments.each do |comment| %>
              <li class='comment_list_item'>
                <%= render 'shared/comment_card', comment: comment %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>